/* init */
@charset "utf-8";
* {margin: 0; padding: 0;}
li {list-style: none;}
a {text-decoration: none; color: #333333;}
.clearfix::before, .clearfix::after {display: block; content: ''; clear: both;}

/* wrap */
#wrap {width: 1000px; height: 650px; background-color: #ffffff; color: #333333;}

/* logo */
#side {float: left; width: 200px; height: 650px;}
#side .logo {width: 200px; height: 100px; background-color: #777;}

/* GNB */
#side .nav {width: 200px; height: 550px; background-color: #666;}

/* slide */
#main {float: left; width: 800px; height: 650px;}
#main .slide {width: 800px; height: 350px; background-color: #555;}

/* contents */
#main .contents {width: 800px; height: 200px; background-color: #444;}

