/* init */
@charset "utf-8" ;
* {margin: 0; padding: 0;}
li {list-style: none;}
a {color: #000; text-decoration: none;}
.clearfix::before, .clearfix::after {display: block; content: ''; clear: both;}

/* wrap */
.wrap {width: 1000px; height: 650px; background-color: #ffffff; color: #333333;}
#side {float:left; width: 200px; height:650px;}

/* logo */
#side .logo {width: 200px; height:100px; }
.logo img {display: block; padding: 30px 0px;}

/* GNB */
#side .nav {width: 160px; margin: 0px 20px; margin-top: 30px; background-color: peru;}
.nav ul li {text-align: center;}
.nav ul li a {display: block; padding: 10px; color: #ffffff;}
.nav ul li a:hover {background-color: rgba(0,0,0,0.5);}
.submenu {display: none; background-color: peachpuff;}
.nav ul li ul.submenu li a {color: #333333;}

#main {float: left; width: 800px; height:650px;}

/* slide */
#main .slide {width: 800px; height: 350px; overflow: hidden;}
.slideList {position: relative;}
.slideList .slideImg {position: relative;}
.slideList .slideImg h2 {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); border-radius: 25px; background-color: rgba(255,255,255,0.6); padding: 10px 20px; text-align: center; font-size: 20px;}
.slideList .slideImg img {display: block;}

#main .contents {width: 800px; height: 200px;}
/* 공지사항 */
.contents .notice {float: left; width: 33.3333%; height: 200px;}
.notice-btn {width: 60px; height: 20px; background-color: peru; text-align: center; padding: 5px; margin-left: 20px;}
.notice-cont {width: 250px; padding: 5px; margin: 0px 3px; background-color: peachpuff;}
.notice-cont h4 {float: left; font-size: 11px; margin: 9px 0px;}
.notice-cont p {float: right; font-size: 10px; margin: 9px 0px;}

/* 갤러리 */
.contents .gallery {float: left; width: 33.3333%; height: 200px;}
.gallery-btn {width: 60px; height: 20px; background-color: peru; text-align: center; padding: 5px; margin-left: 20px;}
.galleryList {width: 250px; padding: 5px; margin: 0px 3px; background-color: peachpuff;}
.galleryList a img {float: left; display: block; padding: 6px; margin: 36px 0px;}

/* 바로가기 */
.contents .baro {float: left; width: 33.3333%; height: 200px;}
.baro img {display: block; float: left; padding: 9px; margin: 43px 0px;}

/* 바로가기 */
#footer {width: 800px; height: 100px;}
#footer .foot1 {float: left; width: 600px; height: 100px;}
.foot1 h4 {padding: 5px;}
.foot1 p {text-align: center; padding: 10px;}

/* SNS */
#footer .foot2 {float: left; width: 200px; height: 100px;}
#footer .foot2 .sns {width: 100%; height: 50%;}
.sns li {float: left; padding: 3px; margin: 12px 0px;}

/* 패밀리사이트 */
#footer .foot2 .family{width: 100%; height: 50%;}
#footer .foot2 .family select {margin: 8px 45px;}

.layer-bg {position: absolute; width: 100%; height: 100%; left: 0; top:0; background-color: rgba(0,0,0,0.4); display: none;}
.layer {position: absolute; left: 35%; top: 35%; transform: translate(-50%, -50%); width: 500px; height: 500px; border: 1px solid; background-color: #fff; display: none;}
.layer h2 {padding: 10px; text-align: center; font-size: 18px;}
.layer p {padding: 10px; text-align: left;}
.layer .close {position: absolute; right: 20px; bottom: 20px; font-size: 20px; border: 1px solid; padding: 5px;}