/* init */
@charset "utf-8";
* {margin: 0; padding: 0;}
li {list-style: none;}
a {text-decoration: none; color: #333333;}
clearfix::before, clearfix::after {display: block; content: ''; clear: both;}

/* wrap */
.sub-wrap {width: 100%; height: 100px; background-color: #ffffff; color: #333333;}
.wrap {width: 1200px; height: 500px; margin: 0 auto; background-color: #ffffff; color: #333333;}

/* header */
#header {width: 1200px; height: 100px; margin: 0 auto;}
#header .logo {float:left; width: 200px; height: 100px;}
#header .logo img {margin-top: 30px;}

/* GNB */
.nav {float: right; width: 600px; background-color: peru; margin-top:30px; margin-right: 20px;}
.nav ul li {float:left; position:relative; width: 25%; text-align: center; font-size: 20px;}
.nav ul li a {display: block; padding: 10px; color: #000; font-weight: bold;}
.nav ul li a:hover {background-color: rgba(255,255,255,0.4);}
.nav ul li ul.submenu {position: absolute; display:none; z-index: 100;}
.nav ul li ul.submenu li {width: 100%; background-color: peachpuff;}

/* slide */
.slide {width: 1200px; height: 300px; overflow: hidden;}
.slide .slideList {position: relative;}
.slide .slideList .slideImg {position: relative;}
.slide .slideList .slideImg h2 {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); border-radius: 25px; background-color: rgba(0,0,0,0.4); color: #fff; padding: 20px 30px;}
.slide .slideList .slideImg img {display: block;}

/* 공지사항 */
.contents {width: 1200px; height: 200px;}
.contents .notice {float: left; width:33.3333%; height:200px;}
.notice .noticeBtn {width: 80px; background-color: peru; text-align: center; padding: 5px; margin-left: 35px; font-size: 15px; font-weight: bold;}
.notice .noticeContList {width: 360px; margin-left: 10px; background-color: peachpuff; padding: 5px;}
.notice .noticeContList p {font-size: 13px; padding:7px 0px;}

/* 갤러리 */
.contents .gallery {float: left; width:33.3333%; height:200px;}
.gallery .galleryBtn {width: 80px; background-color: peru; text-align: center; padding: 5px; margin-left: 35px; font-size: 15px; font-weight: bold;}
.gallery .galleryContList {width: 360px; margin-left: 10px; background-color: peachpuff; padding: 5px;}
.gallery .galleryContList img {padding: 8px; margin: 17px 0; }

/* 배너 */
.contents .banner {position: relative; float: left; width:33.3333%; height:200px;}
.banner h3 {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); border-radius: 50px; background-color: rgba(255,255,255,0.4); padding: 20px 5px;}
.banner h4 {position: absolute; right: 20px; bottom: 20px; font-weight: bold; border: 1px solid #000; background-color: #ffffff;}

/* 로고 */
#footer {width: 1200px; height: 100px; margin: 0 auto;}
#footer .logo {float:left; width: 200px; height: 100px;}
#footer .logo img {display: block; margin: 30px 0px;}

/* 카피라이트 */
#footer .copyright {float: left; width: 800px; height: 100px;}
.copyright .info {text-align: center; padding: 20px 20px 0px 20px;}
.copyright .copymain {text-align: center; margin-top: 10px; font-size: 15px; font-weight: bold;}

/* SNS */
#footer .sns {float:  left; width: 200px; height: 100px;}
.sns img {float: left; width: 50px; height: 50px; padding: 8px; margin: 17px 0px;}

/* layer */
.layer-bg {position: absolute; background-color: rgba(0,0,0,0.4); width: 100%; height: 100%; left: 0; top: 0; display: none;}
.layer {position: absolute; width: 500px; height: 500px; border: 1px solid #000; left: 50%; top: 50%; transform: translate(-50%, -50%); background-color: #ffffff; display: none;}
.layer h2 {font-size: 17px; padding: 10px;}
.layer p {padding: 10px; font-size: 14px; text-align: left;}
.layer .close {position: absolute; right: 20px; bottom: 20px; font-size: 20px; border: 1px solid; padding: 5px;}
